/* CSS declarations go here */
// If you want to override materialize sass variables you can uncomment the following:
// @import "{poetic:materialize-scss}/sass/components/_color.scss";
// $primary-color: color("blue", "lighten-2");

// import main scss file
@import "{poetic:materialize-scss}/sass/materialize.scss";
@import "{}/node_modules/sweetalert/dev/sweetalert.scss";

input.category {
  border-bottom: none;
  height: initial;
  width: 85%;
  // position: relative;
}

btn-bookmark {
  bottom: 45px;
  right: 24px;
}

@media (min-width: 992px) {
  main {
    padding-left: 240px;
  }

  nav .brand-logo {
    padding-left: 100px;
  }
}

// nav .input-field input {
//   padding-left: 0;
// }

li.create-category {
  padding: 0;
  position: absolute;
  right: 0;
}

a.delete {
  position: absolute;
  right: 0;
  padding-right: 5px;
}

.wiw {
  padding: 8px;
}

.wiw:hover .wow {
    display: block !important;
}

.wow {
    display: none !important;
}

.title {
  color: black;
  position: relative;
}

a.waves-effect.waves-teal.btn-flat.plus {
  margin-left: 0;
  margin-right: 0;
}

a.test:hover {
  background: none;
}

li.ikhsan {
  width: 240px;
}

a.bookmark {
  color: black;
  font-size: 20px;
  letter-spacing: 1px;
}

a.bookmark:hover {
  color: #ee6e73;
  // background: none;
}

a.delete:hover, .delete:hover {
  color: #ee6e73;
}

a.clear {
  right: 0;
  position: absolute;
}
